/* Modal Overlay */
.modal {
  background-color: rgb(70, 70, 70);
  color: white;
  text-align: center;
  font-size: 18px;
  opacity: 0.9;
  min-height:50vh;
  min-width:50vh;
  vertical-align: middle;
  margin: 0 auto;
  padding: 3%;
  position: fixed;
  visibility: hidden;
  z-index: 1;
  max-height: calc(100% - 100px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease all;
}

.modal {
  position:fixed;
}

.modal.is-visible {
  visibility: visible;
}

#clear-white {
  display: none;
  float: right;
  height: 4vh;
}

#modalContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#copyButton {
  padding: 20px 30px;
  border: none;
  text-align: center;
  font-size: 18px;
  background-color: rgba(0,0,0,0.4);
  color: white;
  transition: 0.3s ease all;
  max-width: 50%;
  margin: 0 auto;
}

#copyButton:hover {
  background-color: rgba(0,0,0,0.9);
}

/* EXPERIMENT */

/* END EXPERIEMNT  */
