/* Modal Overlay */
.modal {
  background-color: rgb(94, 94, 94);
  color: white;
  text-align: center;
  font-size: 18px;
  opacity: 0.9;
  min-height:50vh;
  min-width:50vh;
  vertical-align: middle;
  margin: 0 auto;
  padding:10px;
  position: fixed;
  visibility: hidden;
  z-index: 1;
  max-height: calc(100% - 100px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease all;
}

.modal {
  position:fixed;
}

.modal.is-visible {
  visibility: visible;
}

#clear-white {
  display: none;
  float: right;
  height: 4vh;
}

#modalContent {
  padding-top: 10%;
  display: flex;
  flex-direction:column;
  height: 300px;
  justify-content: center;
  align-items: center;
}

#copyButton {
    padding: 20px 30px;
    border: none;
    text-align: center;
    font-size: 18px;
    background-color: rgba(0,0,0,0.6);
    color: white;
    transition: 0.3s ease all;
    max-width: 50%;
    margin: 0 auto;
}

/* EXPERIMENT */

/* END EXPERIEMNT  */
