.navigation ul li {
  list-style-type: none;
  display: inline;
  float: right;
  padding: 3px;
}

.navigation ul li:hover {
  background-color: #D0D0D0;
}

.navigation {
  position: absolute;
  right: 1em;
  z-index: 1;
}
.randomController {
  position: fixed;
  left:0px;
  top:0px;
  width:10%;
  float:left;
  padding: 0 0 0 5px;
  z-index: 103;
  opacity: 70%;
}


.randomController {
  background-color: rgba(255,255,255,.3);
  height: 100%;
}

.randomController h4 {
  font-size: 14px;
  color: black;
  font-weight:bold;
}

.preview {
  width: 100%;
  float:right;
  margin-top: 0;
  margin-right:0;
  overflow:hidden;
  text-align: center;
}

.backgroundOutput {
  position:relative;
}

#h1Preview {
  position:absolute;
  top:40%;
  margin:0 auto;
  width: 100%;
  z-index:1;
}

#paraPreview {
  position:absolute;
  top:60%;
  margin:0 auto;
  text-align:center;
  vertical-align: middle;
  z-index:1;
  width: 50%;
  left: 25%;
}

.randomImg {
  object-fit: cover;
  width: 100%;
  height: calc(100vh);
  display: flex;
}

.colorOverlayOutput {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

.gradientOverlayOutput {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
}
/*  -------- Media Queries ------- */

/* Mobile */
@media only screen and (max-width: 653px) and (min-width: 320px) {

}

/* Tablet */
@media only screen and (max-width: 1280px) and (min-width: 653px) {

}

/* Desktop */
@media only screen and (max-width: 9000px) and (min-width: 1280px) {

}
