header a {
  padding-left: 0px;
}

/* ------ Navigation Bar CSS ------ */
.navigation ul li {
  list-style-type: none;
  display: inline;
  /* float: right; */
  padding: 3px;
  color: white;
}

.navigation ul li:hover {
  background-color: rgba(255,255,255,.6);
  transition: 1.0s ease all;
}

.navigation {
  position: absolute;
  right: 1em;
  z-index: 1;
  margin-top: 1.5em;
}

.regnavigation {
  position: absolute;
  z-index: 1;
  right: 1em;
  margin-top: 1.5em;
  top: 0;
}

.regnavigation ul li {
  list-style-type: none;
  display: inline;
  padding: 3px;
  color: black;
}

.regnavigation ul li a {
  color: black;
}

.regheader {
  position: absolute;
  left: 1em;
  margin-top: 1.5em;
  top: 0;
}

.regheader a {
  color: black;
}



/* ------ Randomization Controller CSS ------ */
.randomController {
  position: fixed;
  left:0px;
  top:0px;
  width:12%;
  float:left;
  padding: 0 0 0 30px;
  z-index: 103;
  opacity: 70%;
  background-color: rgba(255,255,255,.1);
  height: 100%;
  transition: 0.5s ease all;
}

.randomController:hover {
  background-color: rgba(255,255,255,.3);

}
.randomController h4 {
  font-size: 13px;
  color: black;
  font-weight:bold;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
}

.iconFlex {
  display: flex;
  direction: row;
}

.lock {
  padding-right: 20px;
}
/* ------ Image Preview CSS ------ */
.preview {
  width: 100%;
  float:right;
  margin-top: 0;
  margin-right:0;
  overflow:hidden;
  text-align: center;
}

.backgroundOutput {
  position:relative;
}

#h1Preview {
  position:absolute;
  top:30%;
  margin:0 auto;
  width: 100%;
  z-index:1;
}

#paraPreview {
  position:absolute;
  top:50%;
  margin:0 auto;
  text-align:center;
  vertical-align: middle;
  z-index:1;
  width: 50%;
  left: 25%;
}

.randomImg {
  object-fit: cover;
  width: 100%;
  height: calc(100vh);
  display: flex;
}

/*  ------ Color/Gradient Overlay CSS ------ */
.colorOverlayOutput {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

.gradientOverlayOutput {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

/*  -------- Media Queries ------- */

/* Mobile */
@media only screen and (max-width: 653px) and (min-width: 320px) {

}

/* Tablet */
@media only screen and (max-width: 1280px) and (min-width: 653px) {

}

/* Desktop */
@media only screen and (max-width: 9000px) and (min-width: 1280px) {

}
