/* Login */
.fullContainer {
  margin: 0;
  padding: 0;
  overflow: hidden;
  clear: both;
  height: 100vh;
}

.flex {
  display: flex;
  direction: row;
  justify-content: center;
  align-items: center;
}

.flex2 {
  flex: 1;
  padding: 0;
}

.flex4 {
  flex: 1 0 24%;
  padding: 0;
}

.backgroundLogin {
  background-image: url('https://source.unsplash.com/random');
  background-size: cover;
  height: 100vh;
  transition: 0.3s ease all;
  justify-content: center;
  align-items: center;
  display: flex;
}


#newUserForm {
  display: none;
}

/*Container for joinButton and newUserForm*/
#joinButton {
  /* position: absolute; */
  padding: 20px 30px;
  border: none;
  text-align: center;
  /* left: 15%;
  top: 50%; */
  font-size: 20px;
  background-color: rgba(0,0,0,0.6);
  color: white;
  transition: 0.3s ease all;
  max-width: 50%;
  margin: 0 auto;
}

#joinButton:hover {
  background-color: rgba(0,0,0,0.8);
}

.createTitle {
  text-align: center;
  color: white;
  /* top: 34%;
  position: absolute;
  left: 8%; */
}

#loginContainer {
  text-align: center;
  justify-content: center;
  align-items: center;
}

#existingUserContainer {
  text-align: center;
  background-color: whitesmoke;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Modal Overlay */
.modal-overlay {
  background-color: rgb(94, 94, 94);
  opacity: 0.9;
  left: 0;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;
  z-index: 1;
}

.modal-overlay.is-visible {
  visibility: visible;
}

/*Form*/
form {
  text-align: center;
}

form input[type="text"] {
  font-size: 16px;
  padding: 10px 15px;
}

form input[type="submit"] {
  padding: 10px 15px;
}
