/* Login */
.fullContainer {
  margin: 0;
  padding: 0;
  overflow: hidden;
  clear: both;
}

.flex {
  display: flex;
  direction: row;
  justify-content: center;
}

.flex2 {
  flex: 1;
  padding: 0 1% 0 0;
}

.flex4 {
  flex: 1 0 24%;
  padding: 0 1% 0 0;
}

.backgroundLogin {
  background-image: url('https://source.unsplash.com/random');
  background-size: cover;

}

#newUserForm {
  display: none;
}

/*Container for joinButton and newUserForm*/
#joinButton {
  display: flex;
  position: relative;
  height: 150px;
  width: 150px;
  border-style: groove;
}

#existingUserContainer {
  border: rgb(94, 94, 94);

}

/* Modal Overlay */
.modal-overlay {
  background-color: rgb(94, 94, 94);
  opacity: 0.9;
  left: 0;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;
  z-index: 1;
}

.modal-overlay.is-visible {
  visibility: visible;
}

/*Form*/
form {
  width: 50%;
  margin: 500;
}

form input[type="text"] {
  font-size: 20px;

}
